<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header">
        <h1>Мой Блог</h1>
    </div>

    <!-- Бар личного кабинета, дата и кнопки входа/регистрации -->
    <div class="user-bar">
        <p>Личный кабинет</p>
        <p class="date">{{ current_date }}</p>
        <!-- Кнопки входа и регистрации -->
        <div class="login-register-btn">
            <button class="btn btn-light">Вход</button>
            <button class="btn btn-light">Регистрация</button>
        </div>
    </div>

    <div class="container">
        <!-- Здесь будет цикл Django для вывода постов -->
        {% for post in post_list %}
        <div class="post">
            <h2 class="post-title"><a href="{{ post.id }}"> {{ post.title }}</a></h2>
            <p>{{ post.description }}</p>
            <a href="#"><img src="{{ post.img.url }}" width="500px"/></a>
            <p>{{ post.author }}</p>
            <!-- Кнопки редактирования и удаления -->
            <button class="btn btn-primary edit-btn">Редактировать</button>
            <button class="btn btn-danger delete-btn">Удалить</button>
        </div>
        {% endfor %}
    </div>

    <div class="footer">
        <p>&copy; 2024 Мой Блог</p>
    </div>

    <!-- Подключение Bootstrap JS и зависимостей -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
